; JFrog Artifactory-Integration für BurniToken
; Fügen Sie hier Ihre JFrog-Anmeldeinformationen hinzu, wenn Sie sich bei JFrog registriert haben
registry=https://registry.npmjs.org/
; registry=https://burnitoken.jfrog.io/artifactory/api/npm/npm-virtual/
; _auth=<Base64-kodierter Authentifizierungsstring>
; email=<Ihre-Email-Adresse>
; always-auth=true
